# {{title}}

{% if intro is defined and intro -%}
{{intro}}
{% endif -%}

{% if contents is defined and contents -%}
## Contents

{% for c in contents -%}
- {{c}}
{% endfor -%}
{% endif -%}

{% if guides is defined and guides -%}
## Guides

{% for g in guides -%}
- {{g}}
{% endfor %}
{% endif -%}

{% if topics is defined and topics -%}
## Topics

{% for t in topics -%}
- {{t}}
{% endfor %}
{% endif -%}
